body
{
	background-color: #000;
}

.my-title
{
	color: white;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	margin-left: 220px;
}

.eyes
{
	width:  100px;
	height: 100px;
	left:   10px;
	color:  white;
	position: absolute;
	border-radius: 50%;
	animation: wink 5s infinite;
	box-shadow: 280px 50px 0 0 currentColor,
				420px 50px 0 0 currentColor;
}

.moustache
{
	width:  180px;
	height: 180px;
	left:   100px;
	color:  white;
	position: absolute;
	border-radius: 50%;
	box-shadow: 150px 240px 0 0 currentColor,
				300px 240px 0 0 currentColor;
}

.moustache::before
{
	content: " ";
	position: absolute;
	left: 30px;
	top: 120px;
	width: 210px;
	height: 120px;
	border-bottom: solid 180px currentColor;
	border-radius: 0 0 0 100%;
	transform: rotate(-40deg);
	transform-origin: right 210px;
	animation: shakeLeft 1s ease-in-out infinite;
}

.moustache::after
{
	content: " ";
	position: absolute;
	left: 390px;
	top: 120px;
	width: 210px;
	height: 120px;
	border-bottom: solid 180px currentColor;
	border-radius: 0 0 100% 0;
	transform: rotate(40deg);
	transform-origin: left 210px;
	animation: shakeRight 1s ease-in-out infinite;
}

@keyframes wink
{
	to
	{
		border-radius: 30%;
		height: 20px;
		box-shadow: 280px 120px 0 0 currentColor,
					420px 120px 0 0 currentColor;
	}
}

@keyframes shakeLeft
{
	0%
	{
		transform: rotate(-50deg);
	}
	
	50%
	{
		transform: rotate(-30deg);
	}

	100%
	{
		transform: rotate(-50deg);
	}
}

@keyframes shakeRight
{
	0%
	{
		transform: rotate(50deg);
	}
	
	50%
	{
		transform: rotate(30deg);
	}

	100%
	{
		transform: rotate(50deg);
	}
}
